<?xml version="1.0" encoding="utf-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="text" scope="locale" required="true">
            <name>swagSCMerchantId</name>
            <label lang="en">Merchant ID</label>
            <description lang="en">Merchant ID is provided by SafeCharge.</description>
        </element>
        
        <element type="text" scope="locale" required="true">
            <name>swagSCMerchantSiteId</name>
            <label lang="en">Merchant Site ID</label>
            <description lang="en">Merchant Site ID is provided by SafeCharge.</description>
        </element>
        
        <element type="text" scope="locale" required="true">
            <name>swagSCSecret</name>
            <label lang="en">Secret key</label>
            <description lang="en">Secret key is provided by SafeCharge.</description>
        </element>
        
        <element type="select" scope="locale">
            <name>swagSCHash</name>
            <label lang="en">Hash type</label>
            <value>sha256</value>
            <store>
                <option>
                    <value>sha256</value>
                    <label>sha256</label>
                </option>
                <option>
                    <value>md5</value>
                    <label>md5</label>
                </option>
            </store>
        </element>
        
<!--        <element type="select" scope="locale">
            <name>swagSCApi</name>
            <label lang="en">Payment API</label>
            <value>cashier</value>
            <store>
                <option>
                    <value>cashier</value>
                    <label>Cashier</label>
                </option>
                <option>
                    <value>rest</value>
                    <label>REST API</label>
                </option>
            </store>
        </element>-->
        
        <element type="select" scope="locale">
            <name>swagSCTransactionType</name>
            <label lang="en">Transaction Type</label>
            <value>Auth</value>
            <store>
                <option>
                    <value>Auth</value>
                    <label>Auth and Settle</label>
                </option>
                <option>
                    <value>Sale</value>
                    <label>Sale</label>
                </option>
            </store>
        </element>
        
        <element type="boolean" scope="locale">
            <name>swagSCTestMode</name>
            <label lang="en">Test mode</label>
            <value>true</value>
        </element>
        
        <element type="boolean" scope="locale">
            <name>swagSCUseHttp</name>
            <label lang="en">Use HTTP notify URL</label>
            <value>true</value>
        </element>
        
        <element type="boolean" scope="locale">
            <name>swagSCSaveLogs</name>
            <label lang="en">Save logs</label>
            <value>true</value>
        </element>
        
<!--        <element type="button">
            <name>buttonTest</name>
            <label lang="en">Delete oldest logs</label>
            <options>
                <handler>
                    <![CDATA[
                    function(button) {
                        deleteOldestLogs();
                    }
                    ]]>
                </handler>
            </options>
        </element>-->
    </elements>
</config>